// Reset

body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

// Variables

$spacing-unit: 8px;

// Vertical rhythm

h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, svg, %vertical-rhythm {
  margin-bottom: $spacing-unit*2;
  line-height: 1;
}

// Headings

.heading-xlarge,
.heading-large,
.heading-medium,
.heading-normal,
.heading-small,
.heading-xsmall,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding-top: $spacing-unit*2;
  font-weight: bold;
}

// Base font size
address,li,p,.btn, summary {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: $spacing-unit*4;
  @media (min-width: 768px) {
    font-size: 18px;
    line-height: 32px;
  }
}

// Lists
ul,ol {
  margin-bottom: $spacing-unit*4;
  padding-left: $spacing-unit*2;
}
li {
  padding: 0;
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit;
}

.list-heading {
  margin-bottom: $spacing-unit*2;
}

// Font weights
.font-weight--bold {
  font-weight: bold;
}

.font-weight--normal {
  font-weight: normal;
}

// Links
a {
  text-decoration: underline;
}

.font-xlarge,
.heading-xlarge,
h1 {
  font-size: 32px;
  line-height: 40px;
  margin: 16px 0 24px 0;
  @media (min-width: 768px) {
    font-size: 38px;
    line-height: 48px;
    margin: 32px 0 32px 0;
  }
}

.font-large,
.heading-large,
h2 {
  font-size: 24px;
  line-height: 32px;
  margin: 24px 0 16px 0;
  @media (min-width: 768px) {
    font-size: 30px;
    line-height: 40px;
    margin: 32px 0 32px 0;
  }
}

.font-medium,
.heading-medium,
h3 {
  font-size: 18px;
  line-height: 24px;
  margin: 24px 0 16px 0;
  @media (min-width: 768px) {
    font-size: 24px;
    line-height: 32px;
    margin: 32px 0 32px 0;
  }
}

.font-normal,
.heading-normal,
h4 {
  font-size: 16px;
  line-height: 24px;
  margin: 16px 0 16px 0;
  @media (min-width: 768px) {
    font-size: 18px;
    line-height: 32px;
    margin: 24px 0 16px 0;
  }
}

.font-small,
.heading-small,
small,
h5 {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: $spacing-unit;
  @media (min-width: 768px) {
    margin-bottom: $spacing-unit*3;
  }
}

.font-xsmall,
.heading-xsmall,
h6 {
  font-size: 14px;
  line-height: 24px;
}

// hr

hr {
  border: 0;
  border-bottom: 1px solid $iron;
}
