---
layout: prototype
search: true
primary-nav: true
secondary-nav: true
language-switch: true
---

<main id="main" role="main" tabindex="-1" class="prototype">
  <div class="background--gallery">
    <div class="wrapper">
      <div class="col-wrap">
        <div class="col">

          <nav>
            <div class="breadcrumb">
              <ol class="breadcrumb__list">
                <li class="breadcrumb__item">
                  <a class="breadcrumb__link" href="https://www.ons.gov.uk/">Home</a>
                </li>
                <li class="breadcrumb__item">
                  <a class="breadcrumb__link" href="../../v4">Geography</a>
                </li>
                <li class="breadcrumb__item">
                  {{page.english-name}}
                </li>
              </ol>
            </div>
          </nav>

        </div>
      </div>
    </div>
  </div>

  <div class="background--gallery">
    <div class="wrapper">
      <div class="col-wrap">
        <div class="col">
          <h1 class="text margin-top-sm--0 margin-top-md--0 margin-bottom-sm--4 margin-bottom-md--4">{{page.english-name}}</h1>
        </div>
      </div>
    </div>

  </div>

  <div class="padding-bottom--4">
    <div class="wrapper">
      <div class="col-wrap">

        <div class="col col--md-one-third col--lg-one-quarter sticky">
            <h2 class="heading-normal margin-top--2">On this page:</h2>
            <ul class="section-contents">
              <li>
                <a href="#datasets">Datasets</a>
              </li>
              <li>
                <a href="#attributes">Attributes</a>
              </li>
            </ul>
        </div>


        <div class="col col--md-two-thirds col--lg-three-quarters">

          <h2 id="datasets" class="padding-top--0 margin-top--4 margin-bottom--2">2 datasets</h2>

          <div class="background--gallery padding-top--4 padding-bottom--4 padding-right--2 padding-left--2 margin-bottom--2">
            <h3 class="heading-normal margin-bottom--1 margin-bottom--0 padding-top--0 margin-top--0"><a href="{% if page.code == "E08000001" %}https://beta.ons.gov.uk/filters/9679c326-962c-4d89-b67b-8ab75cabe787/dimensions{% else %}https://beta.ons.gov.uk/datasets/ashe-table-7-hours/editions/time-series/versions/1{% endif %}">Annual summary of hours worked, place of work by Local Authority</a></h3>
            <p class="margin-bottom--1">Estimates of paid hours worked for UK employees by gender and full/part-time working by work based Region to Local Authority level.</p>
          </div>

          <div class="background--gallery padding-top--4 padding-bottom--4 padding-right--2 padding-left--2 margin-bottom--2">
            <h3 class="heading-normal margin-bottom--1 margin-bottom--0 padding-top--0 margin-top--0"><a href="{% if page.code == "E08000001" %}https://beta.ons.gov.uk/filters/0a53a337-9c7b-426d-9a2b-0d427f73c333/dimensions{% else %}https://beta.ons.gov.uk/datasets/mid-year-pop-est/editions/time-series/versions/2{% endif %}">Population Estimates for UK, England and Wales, Scotland and Northern Ireland</a></h3>
            <p class="margin-bottom--1">Estimates of the usual resident population for the UK as at 30 June of the reference year. Provided by administrative area, single year of age and sex.</p>
          </div>

          <h2 id="attributes" class="padding-top--0 margin-top--4 margin-bottom--2">Attributes</h2>
          <dl>
            <dt>Code: &nbsp;</dt>
            <dd>{{page.code}}</dd>
          </dl>

        </div>
      </div>
    </div>
  </div>


</main>
